.client {
  padding-bottom: 70px;

  text-align: center;
  .section-title {
    margin-bottom: 45px;
    text-align: center;
    display: block;
    span {
      font-size: 15px;
      color: #db2d2e;
      font-weight: 600;
    }
    h2 {
      color: #353535;
      font-size: 40px;
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 16px;
    }
  }
  .client__item {
    border: 1px solid #ebebeb;
    margin: 0 13px 30px 13px;
    height: 110px;
    // width: 262px;
    
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // justify-content: center;
  }
}
