.contact-address {
  padding-bottom: 70px;
  .contact__address__text {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 100px;
    .contact__body {
      padding: 15px;
      width: 33%;
    }

    .contact__address__item {
      margin-bottom: 30px;
      h2 {
        color: #353535;
        font-weight: 700;
        margin-bottom: 18px;
      }
      p {
        line-height: 32px;
        margin-bottom: 5px;
      }
      span {
        display: block;
        font-size: 18px;
        color: #353535;
        font-weight: 700;
      }
    }
  }
}
