.car {
  .section-title {
    margin-bottom: 20px;
    span {
      font-size: 15px;
      color: #db2d2e;
      font-weight: 700;
    }
    h2 {
      color: #353535;
      font-size: 40px;
      font-weight: 700;
      margin-top: 5px;
    }
  }
  .filter__controls {
    text-align: center;
    margin-bottom: 40px;
    li.active {
      color: #323232;
    }
    .mixitup-control-active {
      border-bottom: 3px solid #db2d2e;
    }
    li {
      list-style: none;
      display: inline-block;
      font-size: 13px;
      text-transform: uppercase;
      color: #8d8d8d;
      font-weight: 700;
      margin-right: 30px;
      position: relative;
      padding: 4px 0;
      cursor: pointer;
    }
  }
  .car-filter {
    .car__item__text {
      border: 1px solid #ebebeb;

      .car__item__text__inner {
        padding: 20px 0 14px 20px;
        h5 {
          margin-top: 10px;
          margin-bottom: 14px;
          font-size: 17px;
        }
        ul {
          li {
            span {
              color: #323232;
            }
            list-style: none;
            font-size: 15px;
            color: #8d8d8d;
            font-weight: 700;
            position: relative;
            display: inline-block;
            margin-right: 40px;
            &:nth-child(-n+2)::after {
              position: absolute;
              right: -23px;
              top: 3px;
              height: 15px;
              width: 2px;
              background: #8d8d8d;
              content: "";
            }
          }
        }
        .label-date {
          display: inline-block;
          font-size: 13px;
          color: #323232;
          font-weight: 700;
          padding: 2px 15px 1px;
          border: 1px solid #ebebeb;
          border-radius: 2px;
        }
      }
      .car__item__price {
        position: relative;
        h6 {
          font-size: 15px;
          color: #db2d2e;
          font-weight: 700;
          border-top: 1px solid #ebebeb;
          padding-left: 120px;
          padding-top: 14px;
          padding-bottom: 7px;
          span{
            color: #727171;
            font-size: 13px;
            font-weight: 400;
          }
        }
        .car-option {
          text-transform:capitalize;
          font-size: 15px;
          color: #ffffff;
          font-weight: 600;
          background: #4971ff;
          display: inline-block;
          padding: 12px 22px 10px;
          border-radius: 2px 0 0 2px;
          position: absolute;
          left: 0;
          top: 0;
        &.sale {
          background-color: #db2d2e;
        }
        }
      }
    }
  }
}
