$padding: 14px 0 12px;
.header {
  .header__top {
    background-color: #323232;
    font-weight: 600;
    color: #ffffff;
    text-align: left;

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      .header__top__widget {
        padding: $padding;
        .tag-li_header {
          margin-left: 35px;
        }
        span {
          vertical-align: super;
        }
      }

      .header__top__right {
        text-align: right;
        .header__top__phone {
          display: inline-block;
          margin-right: 20px;
          padding: $padding;
        }
        .header__top__social {
          display: inline-block;
          padding: $padding;
          a {
            color: #ffffff;
            margin: 0 10px;
          }
        }
      }
    }
  }
  .header__logo {
    padding: 35px 0;
    a {
      display: inline-block;

      img {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
      }
    }
  }
  .header__nav {
    text-align: right;
    padding: 32px 0 33px;
    .header__menu {
      display: inline-block;
      ul {
        li {
          display: inline-block;
          margin-right: 60px;
          position: relative;
          a {
            font-size: 15px;
            color: #353535;
            font-weight: 700;
            display: block;
            padding: 5px 0;
            text-transform: uppercase;
            position: relative;
          }
        }
      }
    }
    .header__nav_widget {
      display: inline-block;
      .header__nav__widget__btn {
        a {
          font-size: 15px;
          color: #353535;
          margin-right: 20px;
        }
        button {
          display: inline-block;
          font-size: 15px;
          padding: 12px 24px;
          font-weight: 700;
        }
      }
    }
  }
}
