$padding: 14px 0 12px;
.header {
  .header__top {
    background-color: #323232;
    font-weight: 600;
    color: #ffffff;
    text-align: left;

    .row {
      .header__top__widget {
        padding: $padding;
        .tag-li_header {
          margin-left: 35px;
        }
        span {
          vertical-align: super;
        }
      }

      .header__top__right {
        text-align: right;
        .header__top__phone {
          display: inline-block;
          margin-right: 20px;
          padding: $padding;
        }
        .header__top__social {
          display: inline-block;
          padding: $padding;
          a {
            color: #ffffff;
            margin: 0 10px;
          }
        }
      }
    }
  }
  .header__logo {
    padding: 35px 0;
    a {
      display: inline-block;

      img {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
      }
    }
  }
  .header__nav {
    text-align: right;
    padding: 32px 0 33px;
    .header__menu {
      display: inline-block;
      ul {
        li {
          display: inline-block;
          margin-right: 60px;
          position: relative;
          &:hover {
            .dropdown {
              top: 32px;
              opacity: 1;
              visibility: visible;
            }
            a:after {
              width: 100%;
              opacity: 1;
            }
          }
          .dropdown {
            position: absolute;
            left: 0;
            top: 56px;
            width: 180px;
            background: #db2d2e;
            text-align: left;
            padding: 2px 0;
            z-index: 9;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all, 0.5s;
            -o-transition: all, 0.5s;
            transition: all, 0.5s;
            li {
              display: block;
              margin-right: 0;
              a {
                font-size: 14px;
                color: #ffffff;
                font-weight: 400;
                padding: 8px 20px;
                text-transform: capitalize;
              }
            }
          }
          a {
            font-size: 15px;
            color: #353535;
            font-weight: 700;
            display: block;
            padding: 5px 0;
            text-transform: uppercase;
            position: relative;
            &:after {
              position: absolute;
              left: 0;
              bottom: 0;
              height: 2px;
              width: 0%;
              background: #db2d2e;
              content: "";
              opacity: 0;
              -webkit-transition: all, 0.5s;
              -o-transition: all, 0.5s;
              transition: all, 0.5s;
            }
          }
        }
      }
    }
    .header__nav_widget {
      display: inline-block;
      .header__nav__widget__btn {
        a {
          font-size: 15px;
          color: #353535;
          margin-right: 20px;
        }
        button {
          display: inline-block;
          font-size: 15px;
          padding: 12px 24px;
          font-weight: 700;
        }
      }
    }
  }
  .canvas__open {
    display: none;
  }
}
@keyframes hover_link {
  0% {
    border-bottom-width: 0;
  }
  100% {
    border-bottom-width: 100%;
  }
}

//Responsive----------------------
// @media only screen and (min-width: 768px) and (max-width: 991px) {
//   .canvas__open {
//     display: block !important;
//     font-size: 22px;
//     color: #323232;
//     height: 35px;
//     width: 35px;
//     line-height: 35px;
//     text-align: center;
//     border: 1px solid #323232;
//     border-radius: 2px;
//     cursor: pointer;

//     right: 15px;
//     top: 35px;
//   }
// }

// @media only screen and (max-width: 991px) {
//   .header__nav {
//     display: none;
//   }
// }
