@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
li {
  list-style: none;
  display: inline-block;

  font-size: 15px;
}
a {
  text-decoration: none;
  color: #000;
}
html,
body {
  font-size: 15px;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // margin-right: -15px;
  // margin-left: -15px;
}
img {
  max-width: 100%;
}
p {
  font-size: 15px;
  
  color: #727171;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0;
}

.list {
  width: 100%;
}
.section-title {
  text-align: center;
}
